.cls-button {
  padding: 0.2rem 0.3rem;
}

.cls-views {
  position: relative;
  .cls-main {
    .isBarPadding {
      &.isBar {
        padding-bottom: 1.2rem;
      }
    }
  }
}

.cls-bar-box {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0.4rem;
  left: 0.4rem;
  padding-bottom: 0.1rem;

  .cls-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    .cls-bar-item {
      display: flex;
      justify-content: space-between;

      .item {
        width: 33.33%;
        padding: 0.2rem 0;
        text-align: center;

        .item-icon {
          width: 0.4rem;
          height: 0.4rem;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }

        .item-text {
          padding-top: 0.1rem;
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .cls-bar-blur {
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      backdrop-filter: saturate(180%) blur(8px);
      overflow: hidden;
    }
  }

}

.cls-cards {
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(141, 141, 141, 0.1);
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: hidden;

  .cls-card-main {
    padding: 0.3rem;
    margin-bottom: 0.65rem;
    overflow: hidden;
  }

  .cls-card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #717171;

    > .nav {
      height: 0.8rem;
      display: flex;
      justify-content: space-between;

      .item {
        width: 33.33%;
        display: flex;
        justify-content: center;
        line-height: 0.8rem;
        > .icon {
          width: 0.3rem;
          display: flex;
          align-items: center;
          padding-right: 0.1rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.cls-toast {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.25rem;
  width: 3rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.13rem;
  //box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(153, 153, 153, 0.09);

  .cls-toast-blur {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: saturate(180%) blur(8px);
    overflow: hidden;
  }
}

.index-container, .login-container, .register-container {
  padding: 0.3rem;
}